# Building blocks
A,2                                              # GRASS
B,0                                              # AIR
D,5                             # OAK_WOOD_PLANK
I,5,variant:DARK_OAK                             # OAK_WOOD_PLANK
E,1                                # STONE
F,64,hinge:LEFT,half:LOWER,facing:EAST           # OAK_DOOR
H,64,hinge:LEFT,half:UPPER,facing:EAST           # OAK_DOOR

13x7x15 # Template dimensions

# Template data
# 0. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
A A A A A A A A A A A A A
# 1. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B E E E E E B B B B
B B B B E E E H E B B B B
B B B B E E E F E B B B B
A A A A E E E I E A A A A
# 2. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B E E E B B B B B
B B B B E B B B E B B B B
B B B B E B B B E B B B B
B B B B E B B B E B B B B
A A A A E D D D E A A A A
# 3. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B E E E B B B B B
B B B B E B B B E B B B B
B B B B E B B B E B B B B
B B B B E B B B E B B B B
A A A A E D D D E A A A A
# 4. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B E E E B B B B B
B E E E E B B B E E E E B
B E E E E B B B E E E E B
B E E E E B B B E E E E B
A E E E E D D D E E E E A
# 5. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B E E E E E E E E E B B
B E B B B B B B B B B E B
B E B B B B B B B B B E B
B E B B B B B B B B B E B
A E D D D D D D D D D E A
# 6. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B E E E E E E E E E B B
B E B B B B B B B B B E B
B E B B B B B B B B B E B
B E B B B B B B B B B E B
A E D D D D D D D D D E A
# 7. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B E E E E E E E E E B B
B E B B B B B B B B B E B
B E B B B B B B B B B H B
B E B B B B B B B B B F B
A E D D D D D D D D D I A
# 8. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B E E E E E E E E E B B
B E B B B B B B B B B E B
B E B B B B B B B B B E B
B E B B B B B B B B B E B
A E D D D D D D D D D E A
# 9. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B E E E E E E E E E B B
B E B B B B B B B B B E B
B E B B B B B B B B B E B
B E B B B B B B B B B E B
A E D D D D D D D D D E A
# 10. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B E E E B B B B B
B E E E E B B B E E E E B
B E E E E B B B E E E E B
B E E E E B B B E E E E B
A E E E E D D D E E E E A
# 11. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B E E E B B B B B
B B B B E B B B E B B B B
B B B B E B B B E B B B B
B B B B E B B B E B B B B
A A A A E D D D E A A A A
# 12. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B E E E B B B B B
B B B B E B B B E B B B B
B B B B E B B B E B B B B
B B B B E B B B E B B B B
A A A A E D D D E A A A A
# 13. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B E E E E E B B B B
B B B B E E H E E B B B B
B B B B E E F E E B B B B
A A A A E E I E E A A A A
# 14. slice
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
B B B B B B B B B B B B B
A A A A A A A A A A A A A
