# Building blocks
P,5 # Planks
A,0 # Air
5x5x5
# Template
P P P P P
P P P P P
P P P P P
P P P P P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P P P P P
P P P P P
P P P P P
P P P P P
