# Building blocks
P,planks # Planks
A,air # Air
5x5x20
# Template
P P P P P
P P P P P
P P P P P
P P P P P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P A A A P
P A A A P
P A A A P
P P P P P
P P P P P
P P P P P
P P P P P
P P P P P
P P P P P
